@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-testimonial-scroll {
  animation: testimonial-scroll 40s linear infinite;
}
@keyframes testimonial-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}